# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Virtual environments
MediStore_Backend/venv/
.venv/
venv/

# Environment files
MediStore_Backend/.env
.env

# Local databases
MediStore_Backend/db.sqlite3
*.sqlite3

# Build/static artifacts
MediStore_Backend/staticfiles/
media/

# OS/editor files
.DS_Store
Thumbs.db
*.log
